
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
    overflow-x: hidden;
  }

/*Variables definidas*/

:root {
    --colorPrincipal: #ff8221;
    --colorSecundario: #ebeff2;
    --colorTexto: #02171d;
    --bgColor: #fff;
  
    --sombra: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
    max-width: 2000px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    
    box-sizing: border-box;
    
}
.btnn {
  padding: 0.7rem 1.2rem;
  background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  border: none;
  text-decoration: none;
  transition: .5s;
}
.btnn:hover{
  color: var(--bgColor);
  background: #ff8121bc;
}
/*-----------------INICIO-------------------*/
.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: center;
    gap: 1.5rem;
    background-image: url("./images/bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-text{
    justify-content: center;
    text-align: center;
}
.home-text span{
    font-weight: 600;
    text-transform: uppercase;
}
.home-text h1{
font-size: 3.4rem;
margin-bottom: 1rem;
}
.banner-img{
    display: flex;
    align-items: center;
    width: 45rem;
}

.heading{
    text-align: center;

}
.heading h1{
    margin-top: 5rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--colorTexto);
}
.heading span{
    padding: 0.2rem 1.2rem;
    background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
}
.carousel{
    width: 75%;
    margin: 15rem auto;
}

/*! <--------- Features Section --------->*/

.features {
    padding: 40px 30px;
    width: 100%;
    margin: 5rem auto;
  }
  
  .feature__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-poppins);
    color: var(--secondary-black);
    margin-bottom: 80px;
  }
  
  .features__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 44px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    transition: all 0.2s;
  }
  
  .features__content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    padding: 26px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--bgColor);
    border: 1px solid rgba(221, 221, 221, 0.568);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  }
  
  .features__content-card:hover {
    background-color: #ff812163;
  }
  
  .features__content-card:hover .title-card,
  .features__content-card:hover .description-card,
  .features__content-card:hover .icon-card {
    color: var(--background-white);
  }
  


 

  .features .features__content box-icon{
    width: 38px;
    height: 38px;
    padding: 1px;
    margin-bottom: 15px;
    fill: var(--colorPrincipal);
    
  }
  
  .features__content h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--secondary-black);
    margin-bottom: 10px;
  }
  
  .features__content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    
    color: var(--colorTexto);
    margin-bottom: 10px;
  }
  


/*Acceso usuario*/
.user {
 position: fixed;
 left: 150%;
 top: 6rem;
 width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  row-gap: 0.5rem;
  background: var(--bgColor);
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: var(--sombra);
}
.user h2 {
  font-size: 1.2rem;
  color: var(--colorTexto);
}
.user .login-btn {
  padding: 0.7rem 1.2rem;
    background: var(--colorPrincipal);
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    border: none;
    text-decoration: none;
    transition: .5s;
    fill: #fff;
    width: 60%;
    margin: 0 2rem;
}
.user .login-btn:hover {
  background: var(--colorTexto);
}
.user input {
  border: none;
  outline: none;
  background: var(--colorSecundario);
  padding: 10px;
  border-radius: 0.5rem;
  width: 100%;
}
.user p {
  font-size: 0.938rem;
  text-align: center;
font-weight: 500;
}

.user a {
  text-decoration: underline;
  color: var(--colorPrincipal);
}
.user.show {
  left: 85rem;
  transition: 0.2s;
}

/*vista crear producto*/


.showCreate{
  right: -96rem;
  bottom:  -1rem;
  position: absolute;
  visibility: hidden;
  transition: 0.2s;
  z-index: 2000;
}
.show_create{
  visibility: visible;
  right: 1px;
}
.bg2{
  background: var(--bgColor);
  
}
.container_create {
  max-width: 120rem;
  margin: 0 auto;

}
.formulario_create{
  background-color: var(--colorAccent);
    width: min(40rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
}
.formulario_create fieldset {
  border: none;
  box-shadow:var(--sombra);
}
.campo__label_create{
  width: 80%;
}
.contenedor_campos_create{
  padding: 60px;
}
  /*label*/
  
  .boton_create {
    padding: 0.7rem 1.2rem;
    background: var(--colorPrincipal);
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    border: none;
    text-decoration: none;
  }
  
  .boton_create:hover {
    cursor: pointer;
  }
  
  .enviar .boton {
    width: 100%;
    color: #fff;
  }
  
  .campo_create {
    margin-bottom: 1rem;
  }
  
  .campo__label_create {
    color: var(--colorTexto);
    font-weight: bold;
    display: block;
  }
  
  .campo__field_create {
  
    border: none;
    outline: none;
    background: var(--colorSecundario);
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .campo__tabla_create {
    border: none;
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 0.5rem;
    background: var(--colorSecundario);
  }

  /*bton crear*/
  .boton__crear{
    padding: 0.7rem 1.2rem;
    background: #08a05c;
    color: var(--bgColor);
    font-weight: 500;
    display: flex;
   margin-left: 105rem;
    text-transform: uppercase;
    justify-content: center;
   width: 10%;
   height: 90%;
    border: none;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    text-decoration: none;
  }
  .boton__crear:hover{
    background: #08a05cdc;
  }
  .logout-btn{
    padding: 0.7rem 1.2rem;
    background: var(--colorPrincipal);
    color: var(--bgColor);
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10rem;
    left: 105rem;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    border: none;
    text-decoration: none;
    transition: .5s;
    
    width: 10%;
    margin: 0 2rem;
  }
  .logout-btn:hover{
    background: #ff8121d2;
  }
/*edidar*/
.bottom_edit{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottom_edit button{
  border: none;
  height: 3rem;
  margin: 0 auto;
  font-size: 1.5rem; 
}
.boton_editar{
  padding: 0.7rem 1.2rem;
    background: rgb(25, 106, 212);
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
   width: 80%;
   height: 90%;
    border: none;
    text-decoration: none;
}
.boton_delete{
  padding: 0.7rem 1.2rem;
    background: crimson;
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
   width: 80%;
   height: 90%;
    border: none;
    text-decoration: none;
}
.bottom_edit div{
  display: grid;
  align-items: center;
  text-align: center;

  border-radius: 5px;
  justify-items: center;
}
.bottom_edit div box-icon{
  fill: var(--bgColor);
}
.bottom_edit div a{
  color: white;
  font-weight: 700;
}
.bottom_edit div a:hover{
  color: white;
}


/*Sobre nosotros*/
.nosotros{
    display: flex;
    column-gap: 3.4rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .nosotros-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 3rem ;
  }
  .nosotros-title span{
    padding: 0.2rem 1.2rem;
    background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  }
  .nosotros-img{
    margin-left: 10%;
    margin-right: 10%;
  }

  /*Nosotros pagina*/
  .nosotros-page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 3rem ;
    font-weight: 600;
    text-transform: uppercase;
  }
  .nosotros-page-title span{
    padding: 0.2rem 1.2rem;
    background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  }
  .nosotrosPage{
    display: flex;
    column-gap: 3.4rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  /*Contacto*/
.contacto-title{
  color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem auto 5rem auto;;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    background:var(--colorPrincipal);
    width: 35%;
  }
  .contacto-title2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem 0.1rem;
  }
  
  .bg {
    background-color: var(--bgColor);
    width: 100%;
  }
  
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  
  .formulario {
    background-color: var(--colorAccent);
    width: min(40rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
  }
  
  .formulario fieldset {
    border: none;
    box-shadow:var(--sombra);
  }
  .campo__label{
    width: 80%;
  }
  .contenedor_campos{
    padding: 60px;
  }
  
  
  
  /*label*/
  
  .boton {
    padding: 0.7rem 1.2rem;
    background: var(--colorPrincipal);
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    border: none;
    text-decoration: none;
    transition: 0.5s;
  }

  
  .boton:hover {
    cursor: pointer;
    background: #ff8121da;
  }
  
  .enviar .boton {
    width: 100%;
    color: #fff;
  }
  
  .campo {
    margin-bottom: 1rem;
  }
  
  .campo__label {
    color: var(--colorTexto);
    font-weight: bold;
    display: block;
  }
  
  .campo__field {
  
    border: none;
    outline: none;
    background: var(--colorSecundario);
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .campo__tabla {
    border: none;
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 0.5rem;
    background: var(--colorSecundario);
  }
/*OFERTAS*/
.ofertas-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  font-weight: 600;
  text-transform: uppercase;
  background: #ff812185;
  width: 40%;
  border: solid 1px #000;
  border-radius: 10px;

}
/*FOOTER*/
.footer{
    width: 100%;
    background: #222222;
  }
  .footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .footer .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .grupo1 .box figure .logo .letra {
    color: var(--colorPrincipal);
  }
  .footer .grupo1 .box figure .logo{
    font-size: 2rem;
    color: var(--bgColor);
  }
  footer .grupo1 .box h2{
    color: var(--bgColor);
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
  }
  footer .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  footer .grupo1 .box a{
    text-decoration: none;
    color:  var(--colorPrincipal);
    transition: 0.5s;
    border-bottom: 1px solid transparent;
  
  }
  footer .logo-footer{
    width: 10rem;
  }
  footer .grupo1 .box a:hover{
    color: var(--bgColor);
    border-bottom: 1px solid var(--bgColor);
  }
  footer .grupo2{
    background: var(--colorPrincipal);
    padding: 10px 10px;
    text-align: center;
    color: var(--bgColor);
  }
  .icon-redes_{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
  }
  footer .icon-redes_ box-icon {
    width: 35px;
    height: 35px;
    fill: #fff;
  }
/* ----------------- HEADER -------------------*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s linear;
    background: transparent;
}
.header-active{
  background: var(--bgColor);
}
a{      
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

.menu{
    display: none;
}
.list_item{
    list-style: none;
}

header ul{
    display: flex;
    padding: 0;
    margin: 0;
}
header ul li{
    padding: 0 1rem;
}
.link{
    font-weight: bold;
    position: relative;
    padding: 5px;
}
.link::after{
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--colorPrincipal);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
}
.link:hover::after{
  width: 100%;
  right: 0;
  
}
.link:hover{
  color: var(--colorPrincipal);
}
.icon-redes  box-icon {
  border-bottom: solid 1px transparent;
  transition: .2s;
}
.icon-redes  box-icon:hover{
border-bottom: solid 1px  var(--bgColor);
}

.icon-header{
  padding-right: 2rem;
}

 


.cart{
    position: relative;
    cursor: pointer;
    display: flex;
}
.cart box-icon{
    width: 38px;
    height: 38px;
    padding: 1px;
    
}
.cart span{
    position: absolute;
    top: -1rem;
    left: 1.3rem;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 50%;
    background-color: crimson;
}
.py-4{
    margin: 10rem;
    width: 60%;
}
.tabla{
    position: absolute;
    
    right: 5rem;
    top: 35rem;
}
.logo{
  border: solid 1px #02171d;
  width: 6.4rem;
  height: 6.2rem;
  
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.logo-img{
  width: 4.5rem;
  padding: 0.1rem;
  align-items: center;
  text-align: center;

}
/*----------- PRODUCTOS ------------*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    gap: 1rem;
    align-items: center;
    background: var(--bgColor);
    box-shadow: var(--sombra);
    transition: all 0.25s;
}
.shop-content:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0 0 0 / 0.2);
}
.produ{
  
    font-size: 2.4rem;
    font-weight: 600;
    padding: 10rem 0 0 0;
    color: var(--colorTexto);
    display: flex;
    justify-content: center;
}
.productos{
    width: 70%;
    padding: 5rem 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box ;
} 
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.producto:hover{
    border: 6px solid #08a05c57;
    ;
}
.producto__img img{
    width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  padding: 10px;
  transition: .1s;
}

.producto__footer{
    padding: 1rem;
}
.producto__footer h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a202c;
    font-family: Helvetica, sans-serif
    ;
}
.producto__footer p{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.555);
    text-transform: uppercase;
    font-size: 18px;
}
.producto__footer .price{
    font-size: 2rem;
    color: #1a202c;
}
.productos .bottom{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2.5rem;
    
}

.bottom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.bottom button{
    border: none;
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.bottom button box-icon{
  width: 35px;
    height: 30px;
    fill: var(--bgColor);
    

}

.detalle-btn{
  padding: 0.7rem 1.2rem;
  background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  border: none;
  text-decoration: none;
  transition: .5s; 
}
.detalle-btn:hover{
  background: #ff8121bb;
}

.bottom div{
    
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: -2rem;
    border-radius: 5px;
    
}
.bottom div a{
    color: white;
    font-weight: 700;
}
.bottom div a:hover{
    color: white;
}
/*-----------------CARRITO -----------*/
.carritos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10000;
    padding-bottom: 5rem;
    visibility: hidden;
}
.carrito{
    position: fixed;
    top: 0;
    
    right: -0.7rem;
    width: 360px;
    /* height: 80%; */
    min-height: 100vh;
    padding: 20px;
    border-radius: 8px;
    overflow-x: scroll;
    transition: 0.3s;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}
.carrito h2{
    text-align: center;
    font-size: 2rem;
}
.carritos.show{
    visibility: visible;
}

.carrito.show{
    
    opacity: 1;
    visibility: visible;
}
.carrito__close box-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: all 300ms ease-in-out;
    margin: 3rem 0 0 2rem
}
.carrito__close box-icon:hover {
    fill: var(--colorPrincipal);
}
.carrito__center{
    width: 98%;
   
}
.carrito__item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 100%;
    margin: 2rem auto;
    box-shadow:  var(--sombra);
    border-radius: 5px;
}
.carrito__item div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrito__item img{
    width: 6rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
}
.carrito__item h3{
  display: flex;
    margin-top: 1.5rem;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}
.carrito__item .price{
    color: #1a202c;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
    margin-left: -13rem ;
    margin-top: 1rem;
}
.carrito__item box-icon{
    fill: var(--colorPrincipal);
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin-top: .1rem;
}
.carrito__item .cantidad{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.carrito__item .remove__item box-icon{
    width: 40px;
    height: 80px;
    fill:  var(--colorPrincipal);
    margin-top: 2rem;
}
.carrito__footer{
    text-align: center;
    margin-bottom: 3rem;
}
.carrito__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.carrito__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: #08a05c;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.carrito__footer .btn:hover{
    background-color: #0f5c39;
    color: white;
}
/*--------------DETALLES --------------*/
.detalles{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 13rem 1rem 0 1rem;
    box-sizing: border-box;
}
.detalles h2{
    font-size: 3.5rem;
    width: 100%;
    max-width: 1000px;
    margin: 2rem 0;
    color: #1a202c;
    text-transform: uppercase;
    font-weight: 600;
}
.detalles .price{
    font-size: 2.5rem;
    font-weight: 700;
    color: #08a05c;
}
.detalles button{
  
    
    padding: 0.7rem 1.2rem;
    background: var(--colorPrincipal);
    color: var(--bgColor);
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    border: none;
    text-decoration: none;
    transition: .5s;
    fill: #fff;
    width: 10%;
    margin: 0 2rem;
  }


.detalles button:hover{
  background: #ff8121bb;
}
.detalles .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1rem;
    max-width: 350px;
}
.detalles .grid > .nuevo, .tamano{
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
   
}
.detalles .grid .nuevo{
    background-color:#08a05c;
    
}
.detalles .grid .tamano{
    background-color:#f1365b;
    display: flex;
}
.detalles .grid .tamano select{
    border: none;
    outline: 0;
    font-size: 2rem;
    background-color:#f1365b;
    color: white;
    cursor: pointer;
}
.detalles img{
  display: flex;
    min-height: 300px;
    margin: 5rem 35rem;
    width: 40rem;
    object-fit: contain;
   
    z-index: -1;
}
.detalles input{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2rem;
}
.detalles .description{
    font-size: 1.1rem;
    max-width: 1300px;
    width: 100%;
    letter-spacing: 1px;
    color: #5f5d5d;
    margin: 0 auto;
    font-weight: 500;
}
.detalles .description b{
    font-size: 1.4rem;
    color: #30333a;
}




/* ------------- RELACIONADO --------- */
.relacionados{
    text-align: center;
    background-color: #2e2e2e;
    color: white;
    max-width: 350px;
    width: 100%;
    margin: 5rem auto -2rem auto;
    padding: .5rem 1rem;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif
    ;
}

/*compra*/
.compra-btn{
  padding: 0.7rem 1.2rem;
  background: var(--colorPrincipal);
  color: var(--bgColor);
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
  border: none;
  text-decoration: none;
  transition: .5s;
  fill: #fff;
  width: 30%;
  margin: 0 1rem;
}
.compra-btn:hover{
  background: #ff8121bb;
}


/* -------------MEDIA -------------*/
@media only screen and (max-width: 1000px){
    .carrito__item{
        width: 92%;
    }
}
@media only screen and (max-width: 888px){ 
    .detalles input{
        margin-top: -6rem;
    }
}
@media only screen and (max-width: 700px){
    .carrito{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .carrito__item h3{
        font-size: 1.3rem;
    }
    .detalles h2{
        font-size: 3rem;
    }
    
}
@media only screen and (max-width: 663px){ 
    .detalles input{
        margin-top: -8rem;
    }
}

@media only screen and (max-width: 570px){
    header ul{
        display: none;
    }
    .productos{
        padding: 0;
    }
    .detalles h2{
        font-size: 2.5rem;
    }
    .detalles input{
        margin-top: 0rem ;
    }
    .detalles img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: -1rem auto;
    }
}
@media only screen and (max-width: 450px){
    .carrito__item h3{
        font-size: .8rem;
       
    }
    .carrito__item .remove__item{
    width: 20px;
    height: 20px;
    }
    .carrito__item box-icon{
    width: 25px;
    height: 25px;
    }
    .detalles h2{
        font-size:2rem;
        padding-top: 10rem ;
    }
    .detalles .grid > .nuevo, .tamano{
    padding: 1rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    }
    .detalles .grid .tamano select{
        font-size: 1.2rem;
    }
    .detalles img{
        width: 300px;
        width: 100%;
    }
    .detalles{
        padding: 1rem 0;
    }
}